

<body>



         <h1 class="text-center  text-warning bg-light">Admin's Corner</h1>
    <div class="container bg-light my-5 ">
        <div class="row">
            <h1 class="text-center welcome">Welcome back, Mr. {{name.first_name}} {{name.last_name}} !</h1>
        </div>
    </div>


    <div class="container bg-secondary my-5 ">
        <div class="row">
            <div class="col-sm-12 text-center my-2 text-dark fs-5 bg-light">
                <!-- Content goes here -->
                <h1 class="fw-light">All Courses</h1>
            </div>
        </div>
    </div>

    {{!--============================================ cards for courses ====================================--}}
    
    {{!-- ==========some css styling========== --}}
    
   <style>
    .big-courses-container{background-color: #f8f9fa };
   </style>

    
    <div class="container bg-secondary my-5 ">
        <div class="row big-courses-container" style="background-color: ;">


            {{!-- <div class="row mx-3"> --}}
                {{#each courses}}
                <div class="col-sm-6 big-courses-container">
                    <div class="card my-3 mx-5" style="background-color: rgb(218, 233, 193);">
                        <div class="card-body">

                            <h3 class="card-title">Course Name :<span> {{course_name}}</span></h3><br>
                            <h5 class="card-title">Price :<span> {{price}}</span></h5>
                            <h5 class="card-title">Duration :<span> {{duration}}</span></h5>
                            <h5 class="card-title">Start-Date : <span class="startDate">{{start_date}} </span></h5>
                            <h5 class="card-title">End-Date : <span class="endDate">{{end_date}} </span></h5>
                            <p class="card-title">Description :<span> {{course_description}}</span></p>
                            <a href="/courses/updateCourse" class="btn fw-bold" style="background-color:rgb(218, 157, 43)">Edit Course</a>
                            <a href="#" class="btn fw-bold" style="background-color: rgb(201, 1, 1);">Delete Course</a>
                        </div>
                    </div>
                </div>

                {{/each}}

            </div>
        </div>

        <script src="/javascript/allcourses.js"></script>

</body>
