

<body>

    <div class="container bg-light my-5 ">
        <div class="row">
            <h1 class="text-center">Welcome back, Mr. {{name.first_name}} {{name.last_name}} !</h1>
        </div>
    </div>


    <div class="container bg-secondary my-5 ">
        <div class="row ">
            <h1 class="text-center text-light my-4" id="mycourse"><u> My Courses </u></h1>
            {{#each course}}
            <div class="col-sm-6">
                <div class="card my-3 mx-5">
                    <div class="card-body">

                        <h3 class="card-title">Course Name :<span> {{course_name}}</span></h3><br>
                        <h5 class="card-title">Price :<span> {{price}}</span></h5>
                        <h5 class="card-title">Duration :<span> {{duration}}</span></h5>
                        
                        <p class="card-title">Description :<span> {{course_description}}</span></p>

                    </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>

    <script src="/javascript/students.js"></script>

</body>





{{!-- ONLY make visible the student's enrolled course visible --}}