
<head>


    <title>Students</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="stylesheet" href="/css/users.css">
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"> 


</head>



<body>



   <nav class="navbar navbar-expand-lg navbar-light bg-warning fs-5 fw-bold">
  <div class="container-fluid">
    <a class="navbar-brand me-5 ml-3" href="#"></a>
    <a class="navbar-brand codingguru fs-2" href="/">Coding Guru</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">

          <a class="nav-link allcourses" aria-current="page" href="/courses/coursesavailable" type="button" id="allcourses">Courses Available for Enrollment</a>
       
        </li>

         <li class="nav-item">
          <a class="nav-link mydashboard" id="logOutBtn" href="/auth/login">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>




    <div class="container bg-light my-5 ">
        <div class="row">
            <h1 class="text-center">Welcome back, Mr. {{name.first_name}} {{name.last_name}} !</h1>
            <span id="userId" class="d-none">{{user.id}}</span>
            <span id="email" class="d-none">{{user.email}}</span>
            <span id="user_type" class="d-none">{{user.user_type}}</span>
            <span id="first_name" class="d-none">{{user.first_name}}</span>
            <span id="last_name" class="d-none">{{user.last_name}}</span>
            <span id="contact_no" class="d-none">{{user.contact_no}}</span> 
        </div>
    </div>


    <div class="container bg-secondary my-5 ">
        <div class="row ">
            <h1 class="text-center text-light my-4" id="mycourse"><u> My Courses </u></h1>
            {{#each course}}
            <div class="col-sm-6">
                <div class="card my-3 mx-5">
                    <div class="card-body">

                        <h3 class="card-title">Course Name :<span> {{course_name}}</span></h3><br>
                        <h5 class="card-title">Price :<span> {{price}}</span></h5>
                        <h5 class="card-title">Duration :<span> {{duration}}</span></h5>
                        
                        <p class="card-title">Description :<span> {{course_description}}</span></p>

                    </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>

<script src="/javascript/user.js"></script>

<script src="/javascript/sessiondata.js"></script> 

</body>
















{{!-- ONLY make visible the student's enrolled course visible --}}